

<form [formGroup]="form" (ngSubmit)="saveProduct($event)">
    <mat-card>
        <mat-card-header>
          <mat-card-title>Producto</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="row">
                <div class="col-xs">
                    <mat-form-field>
                        <input matInput placeholder="Id" formControlName="id" type="text">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xs">
                    <mat-form-field>
                        <input matInput placeholder="Title" formControlName="title" type="text">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xs">
                    <mat-form-field>
                        <input matInput placeholder="Price" formControlName="price" type="number">
                    </mat-form-field>
                    <div *ngIf="form.get('price').errors && form.get('price').dirty">
                        <p *ngIf="form.get('price').hasError('price_invalid')">Precio maximo 10000</p>
                        <p *ngIf="form.get('price').hasError('required')">El campo es requerido</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs">
                    <mat-form-field>
                        <textarea matInput placeholder="Description" formControlName="description" type="text"></textarea>
                    </mat-form-field>  
                </div>
            </div>
            <!-- <mat-form-field>
                <input formControlName="image" type="text">
            </mat-form-field> -->
       </mat-card-content>
       <mat-card-actions>
           <button [disabled]="form.invalid" mat-raised-button type="submit">Guardar</button>
       </mat-card-actions>
    </mat-card>
</form>
